#description{
    width: 100%;
    height: 400px;
    overflow-y: scroll;
  }
  #description::-webkit-scrollbar{
  width: 12px;
  }
  #description::-webkit-scrollbar-track{
  background: rgb(15, 21, 24);
  border: 1px solid black;
  }
  #description::-webkit-scrollbar-thumb {
  background-color: white;    /* color of the scroll thumb */
  border-radius: 30px;       /* roundness of the scroll thumb */
  border: 1px solid black;  /* creates padding around scroll thumb */
  }
body{
  background-image: url(../images/background.jpeg);
}